body {
  background-color: #222629;
}

h1 {
  color: #6B6E70;
  text-align: center;
}

h2 {
  color: #6B6E70;
  text-align: center;
}

.border_2021_books {
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}

.border_2021_coding {
  border-width: 5px;
  border-style: solid;
  border-color: green;
}

.border_2021_tv {
  border-width: 5px;
  border-style: solid;
  border-color: pink;
}

.border_2021_project {
  border-width: 5px;
  border-style: solid;
  border-color: purple;
}

.footer {
  color: #86C232;
  text-align: center;
}

.recipe_text {
  color: #6B6E70;
}

.project_section {
  color: #6B6E70;
  font-size: 30px;
}

.project_heading {
  color: #6B6E70;
  font-size: 40px;
}

.project_text {
  color: #6B6E70;
  font-size: 18px;
}

.contact_text {
  color: #6B6E70;
}

.recipe_heading {
  color: #61892F;
  font-family: verdana;
  font-size: 30px;
}

pre {
  color: #6B6E70;
  font-family: verdana;
  font-size: 20px;
}

.button {
  background-color: #61892F;
  border: none;
  color: #222629;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #86C232;
  border: 3;
  border-color: #61892F;
  color:  #222629;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {
  background-color: #86C232;
  border: 3;
  border-color: #61892F;
  color:  #222629;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  color: #61892F;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}